@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  position: relative;
  background: #020202;
}
.gridy {
  background-image: linear-gradient(
      to right,
      rgba(0, 83, 8, 0.2) 1px,
      transparent 1px
    ),
    linear-gradient(to bottom, rgba(0, 83, 8, 0.2) 1px, transparent 1px);
  background-size: 23px 23px; /* Adjust the size of each grid cell */
  background-color: #020202; /* Set the background color */
  z-index: -2;
}
